
/* .btn-primary {
  background-color: rgb(184, 94, 109) !important; 
  border-color: #ff5733 !important; 
} */

/* Customizing Bootstrap Card */
.card {
  background-color: rgba(236, 197, 192, 0.3) !important; 
  border: 2px solid rgb(184, 94, 109) !important; 
}

.bg-secondary {
  background-color: rgb(184, 94, 109)!important; 
}

.btn-margin {
  margin: 30px;
}
